<div class="landing-page-container" {{#if backgroundImage}}style="background-image: url('{{backgroundImage}}')"{{/if}}>
    <div class="landing-page-content">
        {{#if showNpcHistory}}
        <div class="npc-history-grid">
            {{#each npcs}}
            {{#if (or ../isGM isVisible)}}
            <div class="npc-card" data-npc-id="{{this.id}}">
                <img src="{{this.img}}" alt="{{this.name}}">
                <h3>{{this.name}}</h3>
                <div class="npc-metadata">
                    {{this.description}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{#if showPlayerInfo}}
        <div class="player-info-grid">
            {{#each players}}
            <div class="player-card" data-player-id="{{this.id}}">
                <img src="{{this.img}}" alt="{{this.name}}">
                <h3>{{this.name}}</h3>
                <div class="player-metadata">
                    {{this.description}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div> 