<form>
    <div class="form-group">
        <label>Background Image</label>
        <div class="form-fields">
            {{filePicker target="backgroundImage" type="imagevideo"}}
            <input type="text" name="backgroundImage" value="{{backgroundImage}}" />
        </div>
        <p class="notes">The URL or path to the background image</p>
    </div>

    <div class="form-group">
        <label>Show NPC History</label>
        <div class="form-fields">
            <input type="checkbox" name="showNpcHistory" {{checked showNpcHistory}} />
        </div>
        <p class="notes">Enable or disable the NPC history section</p>
    </div>

    <div class="form-group">
        <label>Show Player Information</label>
        <div class="form-fields">
            <input type="checkbox" name="showPlayerInfo" {{checked showPlayerInfo}} />
        </div>
        <p class="notes">Enable or disable the player information section</p>
    </div>

    <button type="submit">
        <i class="far fa-save"></i> Save Settings
    </button>
</form> 